.search-form {
    padding-top: 50px;
}

background {
    background-color: aqua;
}

.jumbotron {
    text-align: center;
    background-color: gray;
    font-family: 'Permanent Marker', cursive;
    font-size: 150px;
}

h1 {
    font-size: 80px;
}